body {
    font-family: 'Gotham Pro';
    background-color: #f0ebe8;
}

/* header start */

header, main {
    max-width: 1554px;
    margin: auto;
}

header>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    margin-left: 2.2%;
    margin-right: 2.2%;
}

.tagline {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 0.6em;
}

.tagline>h2>a {
    font-family: 'Bebas Neue';
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.tagline>p {
    color: #d4416a
}

nav {
    flex-grow: 1;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav>ul>li {
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #333333;
}

nav a::after {
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d4416a;
    content: "";
    transition: width 0.3s ease-out;
}

nav a:active {
    color: #d4416a;
}

nav a:active:after {
	width: 100%;
}

.phone-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40%;
    width: auto;
}

.phone-number>a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.phone-number>a>span {
    font-family: 'Gotham Pro Medium';
}

.phone-number>a::before {
    position: absolute;
    content: " ";
    background: url(img/phone-call.png) center no-repeat;
    width: 1.15em;
    height: 1.15em;
    left: -2em;
}

/* header end */

/* section product-description start */

.product-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/woman.png) center no-repeat;
    
    width: 100%;
    height: 611px;
}

.product-description::before {
    position: absolute;
    content: " ";
    background: url(img/waveUp.png) center no-repeat;
    width: 100%;
    height: 1em;
    top: 0px;
    left: 0px;
}

.product-description::after {
    position: absolute;
    content: " ";
    background: url(img/waveDown.png) center no-repeat;
    width: 100%;
    height: 1.2em;
    bottom: 0px;
    left: 0px;
}

.description-about-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 68%;
}

.description-about-product>h1 {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 3.4em;
}

.description-about-product>h1>span {
    color: #d4416a;
}

.description-about-product>p {
    font-size: 1.3em;
    width: 70%;
    line-height: 2.2em;
}

.description-about-product>button {
    width: 16em;
    height: 3.5em;
    font-size: 1.2em;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #d4416a;
    border-radius: 5px;
    border-bottom: 5px solid  #ab3456;
    cursor: pointer;
    outline: none;
}

.description-about-product>button>span {
    font-weight: bold;
}

.description-about-product>button:active {
    border-bottom: none;
    
}

.foto-product {
    display: flex;
    align-items: flex-start;
    width: 50%;
}