body {
    font-family: 'Gotham Pro';
    background-color: #f0ebe8;
}

/* header start */

header, main {
    max-width: 1560px;
    margin: auto;
}

header>section {
    max-width: 1490px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 110px;
    margin: auto;
    padding: 0 70px;
}

.logo-box {
    display: flex;
}

.tagline {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 0.6em;
}

.tagline>h2>a {
    font-family: 'Bebas Neue';
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.tagline>p {
    color: #d4416a
}

nav {
    flex-grow: 1;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav>ul>li {
    text-transform: uppercase;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #333333;
}

nav a::after {
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d4416a;
    content: "";
    transition: width 0.3s ease-out;
}

nav a:active {
    color: #d4416a;
}

nav a:active:after {
	width: 100%;
}

.phone-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40%;
    width: auto;
}

.phone-number>a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.phone-number>a>span {
    font-family: 'Gotham Pro Medium';
}

.phone-number>a::before {
    position: absolute;
    content: " ";
    background: url(img/phone-call.png) center no-repeat;
    background-size: contain;
    width: 1.15em;
    height: 1.15em;
    left: -2em;
}

/* header end */

/* section product-description start */

.product-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-color:#e1e6cf;
    width: 100%;
    height: 611px;
}


.product-description::before {
    position: absolute;
    content: " ";
    background: url(img/waveUp.png) repeat;
    width: 100%;
    height: 1.4em;
    top: -1px;
    left: 0px;
}

.product-description::after {
    position: absolute;
    content: " ";
    background: url(img/waveDown.png) repeat;
    width: 100%;
    height: 1.4em;
    bottom: -1px;
    left: 0px;
}

.description-about-product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 68%;
}

.description-about-product>img {
    display: none;
}


.description-about-product>h1 {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 3.4em;
}

.description-about-product>h1>span {
    color: #d4416a;
}

.description-about-product>p {
    text-align: center;
    font-size: 1.3em;
    width: 70%;
    line-height: 2.2em;
}

.order-button {
    width: 16em;
    height: 3.5em;
    font-size: 1.2em;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #d4416a;
    border-radius: 5px;
    border-bottom: 5px solid  #ab3456;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

.order-button>span {
    font-weight: bold;
}

.order-button:active {
    border-bottom: none;
    
}

.tag-price {
    position: absolute;
    top: 15%;
    left: -7%;
}

.price {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'Gotham Pro Medium';
    font-size: 2em;
    color: #fff;
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    top: 37%;
    bottom: 0%;
    left: 4%;
    right: 0%;
}

.foto-product {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: url(img/woman-lip.png) center no-repeat;
    background-size: contain;
    /* height: 100%; */
}

/* section product-description end */

/* brend description start */

.brend-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 735px;
    box-sizing: border-box;
}

.brend-description>h2 {
    font-family: 'Gotham Pro Bold';
    font-size: 3em;
    color: #d4416a;
    text-transform: uppercase;
}

.description-about-product>.tag-price {
    display: none;
}

.description-about-brend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    
}

.description-about-brend-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
    max-width: 1160px;
}

.description-about-brend-text>p {
    max-width: 740px;
    font-size: 1em;
    line-height: 2em;
    text-align: left;
    margin-left: 1.5vw;
}

.description-about-brend-text>p>span {
    font-weight: bold;
}

.description-about-brend>.order-button {
    margin-left: 15vw;
}

.image-lip {
    position: absolute;
    align-self: flex-end;
    bottom: 20px;
    right: 0px;
}

.brend-description::after {
    position: absolute;
    content: " ";
    background: url(img/vaweDownWhite.png) repeat;
    width: 100%;
    height: 1.4em;
    bottom: 0px;
    left: 0px;
}






@media (max-width: 1366px) {
    .description-about-product>h1 {
        font-size: 2.5em;
    }

    
    .description-about-product>p {
        line-height: 2em;
    }

    .phone-number>a::before {
        left: -1.2em;
    }

    .foto-product {
        margin-left: 2.5em;
    }

}

@media (max-width: 1280px) {
    .image-lip {
        display: none;
    }
}

@media (max-width: 1024px) {
    
    html {
        font-size: 14px;
    }
    
    header>section {
        height: 150px;
    }

    nav {
        order: 3;     
    }

    nav>ul {
        justify-content: space-between;
    }

    .tagline {
        flex-grow: 1;
    }

    .phone-number {
        width: 50%;
        align-items: flex-end;
    }

    .product-description {
        background-size: contain;
        height: 430px;
    }

    .description-about-product>p {
        font-size: 1em;
        height: 50%;
        text-align: left;
    }

    .description-about-brend-text>img {
        width: 230px;
    }

    .description-about-brend-text>p {
        width: 67%;
        line-height: 2.6em;
    }

    .brend-description {
        height: 510px;
    }

    .foto-product>img {
        width: 147px;
    }

    .tag-price>img {
        width: 50%;
    }

    .price {
        font-size: 1em;
        top: 73%;
        bottom: 0%;
        left: -5%;
        right: 0%;
    }

    .order-button {
        font-size: 1em;
    }

    .description-about-brend>.order-button {
        margin-top: 10px;
    }
}

@media (max-width: 890px) {
    header>section {
        padding: 0 1vw 0 1vw;
    }

    .description-about-product>h1 {
        font-size: 3.5vw;
    }

    .description-about-product>p {
        font-size: 1.7vw;
    }

    .brend-description>h2 {
        font-size: 3.5vw;
    }

    .description-about-brend-text>p {
        font-size: 1.7vw;
    }

}

@media (max-width: 720px) {
    .tag-price {
        top: 13vw;
    }

    .product-description {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
    }

    .description-about-product {
        width: 100%;
        height: auto;
        padding-top: 55px;
    }

    .foto-product {
        display: none;
    }

    .description-about-product>h1 {
        font-size: 6.5vw;
    }

    .description-about-product>img {
        display: block;
        width: 25vw;
        margin-top: 25px;
    }

    .description-about-product>p {
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        order: 3;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 90%;
    }

    .description-about-product>.order-button {
        margin-top: 20px;
        display: block;
        min-height: 3.5em;
    }

    .description-about-product>.tag-price {
        display: block;
        position: absolute;
        top: 19%;
        left: 32vw;
    }
    
    

    .brend-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .description-about-brend, 
    .description-about-brend-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .brend-description>h2 {
        font-size: 5.5vw;
        margin-top: 25px;
    }

    .description-about-brend-text>img {
        width: 45vw;
        margin-top: 25px;
    }

    .description-about-brend-text>p {
        width: 90%;
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        margin-top: 25px;
        margin-left: 0;
    }

    .description-about-brend>.order-button {
        margin: 25px 0 30px 0;
    }

}


@media (max-width: 520px) {
    header>section {
        box-sizing: border-box;
        justify-content: center;
        height: 100%;
        margin: 2vw 0 2vw 0;
    }

    .logo-box {
        margin-bottom: 4vw;
    }
    
    nav {
        display: none;
    }

    .phone-number {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        font-size: 0.9em;
    }

    .phone-number>a::before {
        display: none;
    }
}



@media (max-width: 320px) {
    header>section {
        box-sizing: border-box;
        justify-content: center;
    }
    
    nav {
        display: none;
    }

    .phone-number {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        font-size: 0.9em;
    }

    .phone-number>a::before {
        display: none;
    }

    .product-description {
        flex-direction: column;
        height: 620px;
        justify-content: flex-start;
    }

    .description-about-product {
        width: 100%;
        height: auto;
        padding-top: 55px;
    }

    .foto-product {
        display: none;
    }

    .description-about-product>h1 {
        font-size: 1.5em;
    }

    .description-about-product>img {
        display: block;
        width: 40%;
        margin-top: 25px;
    }

    .description-about-product>p {
        line-height: 1.5em;
        font-size: 5vw;
        text-align: center;
        order: 3;
        margin-top: 25px;
        width: 90%;
    }

    .description-about-product>.order-button {
        margin-top: 20px;
        display: block;
        min-height: 3.5em;
    }

    .description-about-product>.tag-price {
        display: block;
        position: absolute;
        left: 22%;
    }
    
    

    .brend-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .description-about-brend, 
    .description-about-brend-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .brend-description>h2 {
        font-size: 1.2em;
        margin-top: 25px;
    }

    .description-about-brend-text>img {
        width: 140px;
        margin-top: 25px;
    }

    .description-about-brend-text>p {
        width: 90%;
        font-size: 4vw;
        line-height: 2em;
        text-align: center;
        margin-top: 25px;
        margin-left: 0;
    }

    .description-about-brend>.order-button {
        margin: 25px 0 35px 0;
    }
}